{{ form_label(collection) }}
{{ form_errors(collection) }}
<div class="MetaData-Widget MetaData-Widget_collection{% if partOfCollection is defined and (partOfCollection == true) %} !px-4{% endif %}"
        {{ stimulus_controller('collection-widget', {
            counter: collection|length,
            widgetPrototype: _self.widget(collection.vars.prototype, removeTxt, condensed|default(false)),
        }) }}>

    <ul id="{{ id }}" {{ stimulus_target('collection-widget', 'list') }} class="{% if listClass is defined %}{{ listClass }}{% endif %}">
        {% for item in collection %}
            {{ _self.widget(item, removeTxt, condensed|default(false)) }}
        {% endfor %}
    </ul>

    <button type="button"
            class="mt-2 MetaData-AddButton Button Button_secondary Button_secondary_act Button_fieldSize"
            {{ stimulus_action('collection-widget', 'addItemToCollection') }}>
        {{ addTxt|trans }}
    </button>
</div>

{% macro widget(item, removeTxt, condensed) %}
    <li class="flex mt-2 {% if condensed is defined and (condensed == true) %}items-center{% else %}items-start{% endif %}">
        {{ form_widget(item) }}
        {{ _self.removeButton(removeTxt, condensed) }}
    </li>
{% endmacro %}

{% macro removeButton(removeTxt, condensed) %}
    {% if condensed is defined and (condensed == true) %}
        <button type="button"
                class="!rounded-l-none Button Button_tertiary Button_tertiary_danger Button_fieldSize"
                {{ stimulus_action('collection-widget', 'removeItemFromCollection') }}
                title="{{ removeTxt|trans }}">
            {# Icon: mi:delete #}
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 aria-hidden="true" role="img" style="vertical-align: -0.125em;" width="1em" height="1em"
                 preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <g fill="none">
                    <path d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4V4zm2 2h6V4H9v2zM6.074 8l.857 12H17.07l.857-12H6.074zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1z"
                          fill="currentColor"/>
                </g>
            </svg>
        </button>
    {% else %}
        <button type="button"
                {{ stimulus_action('collection-widget', 'removeItemFromCollection') }}
                class="ml-1 Button Button_tertiary Button_tertiary_danger Button_fieldSize">
            {{ removeTxt|trans }}
        </button>
    {% endif %}
{% endmacro %}
