{% if app.user %}
    <div class="flex h-full mr-auto">
        <a href="{{ path("dashboard") }}"
           class="flex items-center ring-inset px-3 pt-1 h-full text-base border-b-4 border-transparent hover:border-zpid-blue
            {{- app.request.pathinfo == path("dashboard") ? ' border-zpid-blue font-semibold' -}}">
            {# Icon: mdi:view-grid #}
            <svg class="mr-0.5 h-4 w-4 self-center" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" role="img"
                 style="vertical-align: -0.125em;" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                 viewBox="0 0 24 24">
                <path d="M3 11h8V3H3m0 18h8v-8H3m10 8h8v-8h-8m0-10v8h8V3" fill="currentColor"/>
            </svg>
            {{ "title.dashboard.title"|trans }}
        </a>

        <a href="{{ path("Study-overview") }}"
           class="flex items-center ring-inset h-full px-3 ml-4 text-base pt-1 border-b-4 border-transparent hover:border-zpid-blue
            {{- isPartOfStudyDocumentation|default(false) ? ' border-zpid-blue font-semibold' -}}">
            <div>
                {{ "title.dashboard.modules.documentation.title"|trans }}
            </div>
        </a>
        {% if is_granted("ROLE_REVIEWER") %}
            <a href="{{ path("admin_dashboard") }}"
               class="flex items-center ring-inset h-full px-3 ml-4 text-base pt-1 border-b-4 border-transparent hover:border-zpid-blue
                {{- app.request.pathinfo == path("admin_dashboard") ? ' border-zpid-blue font-semibold' -}}">
                <div>
                    {{ "title.reviewer.dashboard.title"|trans }}
                </div>
            </a>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path("admin_dashboard") }}"
               class="flex items-center ring-inset h-full px-3 ml-4 text-base pt-1 border-b-4 border-transparent hover:border-zpid-blue
                {{- app.request.pathinfo == path("admin_dashboard") ? ' border-zpid-blue font-semibold' -}}">
                <div>
                    {{ "title.admin.dashboard.title"|trans }}
                </div>
            </a>
        {% endif %}
    </div>
{% endif %}
