{% set defaults = {
    'prevUrl': prevUrl,
    'prevTitle': prevTitle,
    'nextUrl': nextUrl,
    'nextTitle': nextTitle
} %}
{% set options = defaults %}

<div class="WizNavBar">
    {% if options.prevUrl is defined and options.prevUrl is not null %}
        <a class="flex items-center self-center underline justify-self-start Button Button_tertiary Button_tertiary_go Button_standalone MetaData-SubmitButton_previous"
           href="{{ options.prevUrl }}">
            {{ options.prevTitle }}
        </a>
    {% elseif options.prevTitle is defined and options.prevTitle is not null %}
        {{ form_widget(form.saveAndPrevious, {
            'label': options.prevTitle,
            'attr': {
                'class': 'flex items-center self-center underline justify-self-start Button Button_tertiary Button_tertiary_go Button_standalone MetaData-SubmitButton_previous',
            }
        }) }}
    {% endif %}

    {% if form is defined and form is not null %}
        {{ form_widget(form.submit, {
            'label': 'generic.save-changes',
            'attr': {
                'class': 'MetaData-SubmitButton Button Button_primary Button_primary_act Button_standalone',
            }
        }) }}
    {% endif %}

    {% if options.nextUrl is defined and options.nextUrl is not null %}
        <a class="flex items-center self-center underline justify-self-end Button Button_tertiary Button_tertiary_go Button_standalone MetaData-SubmitButton_next"
           href="{{ options.nextUrl }}" role="button">
            {{ options.nextTitle }}
        </a>
    {% elseif options.nextTitle is defined and options.nextTitle is not null %}
        {{ form_widget(form.saveAndNext, {
            'label': options.nextTitle,
            'attr': {
                'class': 'flex items-center self-center underline justify-self-end Button Button_tertiary Button_tertiary_go Button_standalone MetaData-SubmitButton_next',
            }
        }) }}
    {% endif %}
</div>
