{% extends "layouts/base.html.twig" %}

{% block title %}
    {{ "title.admin.dashboard.title.panel"|trans }}
{% endblock %}


{% block body %}
    <main class="max-w-screen-xl mx-auto mt-12 min-h-[calc(100%-15.5rem)] mb-12 flex flex-col">
        {% if is_granted('ROLE_REVIEWER') %}
            <div class="mx-8 my-8">
                <h2 class="text-2xl font-bold text-zpid-purple-700 mb-4">
                    {{ "title.admin.dashboard.title.moderation"|trans }}
                </h2>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 justify-items-stretch">
                    <div class="relative grid grid-cols-1 py-6 px-8 border border-gray-300 rounded-md shadow-md bg-gray-50 opacity-50">
                        <h3 class="text-2xl font-semibold text-zpid-purple-700">
                            {{ "title.admin.dashboard.ph.title"|trans }}
                        </h3>
                        <div class="absolute px-1.5 py-0.5 text-white border border-gray-300 right-6 bg-mono-500 -top-4">
                            {{ "title.dashboard.modules.coming-soon"|trans }}
                        </div>
                        <p class="mt-2 leading-snug max-w-prose">
                            {{ "title.admin.dashboard.ph.description"|trans }}
                        </p>
                        <a class="self-start mt-5 Button_primary_go Button_standalone self-end"
                           href="{{ path("moderation_dashboard") }}" type="button">
                            {{ "title.admin.dashboard.ph.open"|trans }}
                        </a>
                    </div>
                    <div class="relative grid grid-cols-1 py-6 px-8 border border-gray-300 rounded-md shadow-md bg-gray-50 opacity-50">
                        <h3 class="text-2xl font-semibold text-zpid-purple-700">
                            {{ "title.admin.dashboard.ph.title"|trans }}
                        </h3>
                        <div class="absolute px-1.5 py-0.5 text-white border border-gray-300 right-6 bg-mono-500 -top-4">
                            {{ "title.dashboard.modules.coming-soon"|trans }}
                        </div>
                        <p class="mt-2 leading-snug max-w-prose">
                            {{ "title.admin.dashboard.ph.description"|trans }}
                        </p>
                        <a class="self-start mt-5 Button_primary_go Button_standalone self-end"
                           href="{{ path("moderation_dashboard") }}" type="button">
                            {{ "title.admin.dashboard.ph.open"|trans }}
                        </a>
                    </div>
                    <div class="relative grid grid-cols-1 py-6 px-8 border border-gray-300 rounded-md shadow-md bg-gray-50 opacity-50">
                        <h3 class="text-2xl font-semibold text-zpid-purple-700">
                            {{ "title.admin.dashboard.ph.title"|trans }}
                        </h3>
                        <div class="absolute px-1.5 py-0.5 text-white border border-gray-300 right-6 bg-mono-500 -top-4">
                            {{ "title.dashboard.modules.coming-soon"|trans }}
                        </div>
                        <p class="mt-2 leading-snug max-w-prose">
                            {{ "title.admin.dashboard.ph.description"|trans }}
                        </p>
                        <a class="self-start mt-5 Button_primary_go Button_standalone self-end"
                           href="{{ path("moderation_dashboard") }}" type="button">
                            {{ "title.admin.dashboard.ph.open"|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="mx-8 my-8">
                <h2 class="flex items-center text-2xl font-bold text-zpid-purple-700">
                    {{ "title.admin.dashboard.title.admin"|trans }}
                </h2>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 justify-items-stretch">
                    <div class="relative grid grid-cols-1 py-6 px-8 border border-gray-300 rounded-md shadow-md bg-gray-50">
                        <h3 class="text-2xl font-semibold text-zpid-purple-700">
                            {{ "title.admin.dashboard.user.title"|trans }}
                        </h3>
                        <p class="mt-2 leading-snug max-w-prose">
                            {{ "title.admin.dashboard.user.description"|trans }}
                        </p>
                        <a class="self-start mt-5 Button_primary_go Button_standalone self-end"
                           href="{{ path("admin_user") }}" type="button">
                            {{ "title.admin.dashboard.user.open"|trans }}
                        </a>
                    </div>
                    <div class="relative grid grid-cols-1 py-6 px-8 border border-gray-300 rounded-md shadow-md bg-gray-50">
                        <h3 class="text-2xl font-semibold text-zpid-purple-700">
                            {{ "title.admin.dashboard.studies.title"|trans }}
                        </h3>
                        <p class="mt-2 leading-snug max-w-prose">
                            {{ "title.admin.dashboard.studies.description"|trans }}
                        </p>
                        <a class="self-start mt-5 Button_primary_go Button_standalone self-end"
                           href="{{ path("admin_studies") }}" type="button">
                            {{ "title.admin.dashboard.studies.open"|trans }}
                        </a>
                    </div>
                    <div class="relative grid grid-cols-1 py-6 px-8 border border-gray-300 rounded-md shadow-md bg-gray-50 opacity-50">
                        <h3 class="text-2xl font-semibold text-zpid-purple-700">
                            {{ "title.admin.dashboard.ph.title"|trans }}
                        </h3>
                        <div class="absolute px-1.5 py-0.5 text-white border border-gray-300 right-6 bg-mono-500 -top-4">
                            {{ "title.dashboard.modules.coming-soon"|trans }}
                        </div>
                        <p class="mt-2 leading-snug max-w-prose">
                            {{ "title.admin.dashboard.ph.description"|trans }}
                        </p>
                        <a class="self-start mt-5 Button_primary_go Button_standalone self-end"
                           href="{{ path("moderation_dashboard") }}" type="button">
                            {{ "title.admin.dashboard.ph.open"|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}
