{% extends "Layouts/threeColumn.html.twig" %}

{% set isPartOfStudyDocumentation = true %}

{% block title %}
    Details of {{ file.atUploadNameable }}
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        Details of {{ file.atUploadNameable }}
    </h2>

    <div class="mx-6">
        {{ form(form) }}
    </div>

    <div class="mx-6">
        <a href="{{ path('Study-materials', { 'uuid': experiment.id }) }}" class="underline">Back to study materials</a>
        <a href="{{ path('File-deletion', { 'uuid': file.id }) }}" class="ml-2 mr-2 underline">
            <span class="w-4 h-4 mr-0.5 inline iconify-inline" data-icon="radix-icons:cross-2"></span>Remove
        </a>
    </div>
{% endblock %}
