{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = false %}

{% block title %}
    Export
{% endblock %}
{% block content %}

    {{ dump(json) }}
    <form action="{{ path('export_action', {uuid: experiment.id}) }}" method="POST">
        <div>
            <h1>EXPORT FORMAT:</h1>
            <label>JSON
                <input type="radio" name="exportFormat" value="json" checked>
            </label>
            <label>XML
                <input type="radio" name="exportFormat" value="xml">
            </label>
        </div>
        <div>
            <label> Export Study
                <input type="checkbox" name="exportStudy" value="study" checked>
            </label>
        </div>
        <div>
            {% for dataset in experiment.originalDatasets %}
                <div>
                    <label> Export Dataset: {{ dataset.originalName }}
                        <input type="checkbox" name="exportDataset[]" value="{{ dataset.id }}" checked>
                    </label>
                </div>
            {% endfor %}
        </div>
        <div>
            <button type="submit">Export</button>
        </div>
    </form>



    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-materials',
        prevTitle: 'Upload materials',
        nextUrl: null,
        nextTitle: null,
        form: null
    })) }}
{% endblock %}