{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = false %}

{% block title %}
    Export
{% endblock %}
{% block content %}
    <h2 class="MetaDataGroup-Title">
        {{ "title.export.title"|trans }}
    </h2>
    <p class="mx-6 mt-8 max-w-prose">
        Export your data documentation in one ZIP file.
    </p>
    {# TODO: export error includes a messages.xx.yaml string if an error occurred during export #}
    {# {{ dump(export_error) }} #}
    {% if experiment is null %}
        {# TODO: error view if exp. == null #}
    {% else %}
        <form action="{{ path('export_action', {uuid: experiment.id}) }}" method="POST">

            <fieldset>
                <div class="MetaData-Title">
                    <legend class="MetaData-Legend">
                        Choose export format
                    </legend>
                    {# {{ helpButton("") }} #}
                </div>
                <div class="MetaData-Label">JSON is way geekier, XML is harder to read.</div>
                <div class="mt-1 MetaData-Widget">
                    <input id="exportAsJson" type="radio" name="exportFormat" value="json" checked>
                    <label for="exportAsJson">JSON</label>
                    <input id="exportAsXml" type="radio" name="exportFormat" value="xml">
                    <label for="exportAsXml">XML</label>
                </div>
            </fieldset>

            <div class="hidden">
                <label>Export study
                    <input type="hidden" name="exportStudy" value="study">
                </label>
            </div>

            <fieldset class="mt-4">
                <div class="MetaData-Title">
                    <legend class="MetaData-Legend">
                        Choose which datasets to include
                    </legend>
                    {# {{ helpButton("") }} #}
                </div>
                <div class="MetaData-Widget">
                    {% for dataset in experiment.originalDatasets %}
                        <div class="flex items-center">
                            <input id="dataset_{{ dataset.id }}" type="checkbox" name="exportDataset[]"
                                   value="{{ dataset.id }}" checked>
                            <label for="dataset_{{ dataset.id }}" class="ml-2">{{ dataset.originalName }}</label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>

            <fieldset class="mt-4">
                <div class="MetaData-Title">
                    <legend class="MetaData-Legend">
                        Choose which materials to include
                    </legend>
                    {# {{ helpButton("") }} #}
                </div>
                <div class="MetaData-Widget">
                    {% for material in experiment.additionalMaterials %}
                        <div class="flex items-center">
                            <input id="material_{{ material.id }}" type="checkbox" name="exportmaterial[]"
                                   value="{{ material.id }}" checked>
                            <label for="material_{{ material.id }}" class="ml-2">{{ material.originalName }}</label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>

            <div class="mx-6 mt-4">
                <button type="submit" class="Button Button_primary Button_primary_act Button_standalone">Export</button>
            </div>
        </form>
    {% endif %}


    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-review',
        prevTitle: 'Rexiew input',
        nextUrl: null,
        nextTitle: null,
        form: null
    })) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("export") }}
{% endblock %}
