<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include "layouts/_favico.html.twig" %}
    <title>
        {% if block("title") is defined %}
            {{ block("title") }} - DataWiz
        {% else %}
            DataWiz - Research data management made easy!
        {% endif %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags("app") }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags("app") }}
    {% endblock %}
</head>
<body>
{% block header %}
    <div class="bg-gradient-to-r from-[#240d46] to-zpid-purple-700">
        <header class="flex w-full max-w-screen-xl mx-auto border-b bg-mono-50 h-14 border-mono-300">
            <a class="flex flex-row items-center pl-8 pr-6 font-serif text-3xl text-white bg-zpid-blue" href="/">
                <span class="font-semibold">Data</span>Wiz<span
                        class="self-start px-1.5 mt-1 font-sans text-xs italic font-medium bg-white border rounded-md text-zpid-blue-800">beta</span>
            </a>
            <div class="flex w-full pl-6 pr-8">
                {{ include("components/_navigationHeader.html.twig") }}
                {{ include("components/_userProfileReference.html.twig") }}
            </div>
        </header>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{{ include("components/_footer.html.twig") }}
</body>
</html>
