<footer class="flex items-center justify-center h-24 bg-zpid-purple-700 col-span-full">
    <a href="{{ "product.poweredByLink.url"|trans }}"
       class="flex items-center text-sm text-white hover:underline no-linkout"
       title="{{ "product.poweredByLink.title"|trans }}" target="_blank"
       rel="noreferrer">{{ "product.poweredByLink.label"|trans }}<img
                src="{{ asset('build/images/leibniz_psychology_small.svg') }}"
                alt="{{ "product.poweredByLink.logoAltText"|trans }}"
                class="inline-block h-6 ml-2"></a>
</footer>
