{% macro helpButton(formIdentifier) %}
    <button class="MetaData-HelpButton"
        type="button"
        x-on:click="$store.app.helpSelected = $store.app.helpSelected === '{{ formIdentifier }}' ? null : '{{ formIdentifier }}'" x-data="{}">
        ?
    </button>
{% endmacro %}

{% macro sectionHelp(sectionIdentifier) %}
    <div class="Help-Text Help-Text_section">
        {{ source("Help/#{sectionIdentifier}/_section.md")|markdown_to_html }}
    </div>
{% endmacro %}

{% macro formHelp(sectionIdentifier, formIdentifier) %}
    <div class="relative Help-MetaData" x-data="{}">
        <button class="absolute px-1 py-1 border-none rounded-full shadow-none top-2 right-2 bg-mono-100 hover:bg-mono-300" x-on:click="$store.app.helpSelected = null" x-show="$store.app.helpSelected === '{{ formIdentifier }}' ">
            <span class="w-6 h-6 iconify" data-icon="mdi:close" data-inline="false"></span>
        </button>
        <div class="Help-Text Help-Text_metaData"
            x-show="$store.app.helpSelected === '{{ formIdentifier }}' ">
            {{ source("Help/#{sectionIdentifier}/#{formIdentifier}.md")|markdown_to_html }}
        </div>
    </div>
{% endmacro %}

{# 
    Render wizard navigation bar with links that navigate to the previous/next form
    group. Provide the form variable if you want a save button rendered that submits
    the form.
 #}
{% macro wizNav(options = {}, form) %}
    {% set defaults = {
        'prevUrl': '',
        'prevTitle': 'Previous',
        'nextUrl': '',
        'nextTitle': 'Next'
    } %}
    {% set options = defaults | merge(options) %}
    
    <div class="WizNavBar">
        {# {% if options.prevUrl != '' %}
            <button class="flex items-center self-center px-2 py-1 mt-2 bg-white border rounded-md justify-self-start border-mono-400 hover:bg-mono-200" onclick="location.href='{{ options.prevUrl }}';" role="link" type="button">
                <svg  <svg fill="none" viewbox="0 0 24 24" stroke="currentColor" class="arrow-left w-4 h-4 mr-1.5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg>{{ options.prevTitle }}
            </button> #}
        {% if options.prevUrl != '' %}
            <a class="flex items-center self-center px-2 py-1 mt-2 underline justify-self-start" href="{{ options.prevUrl }}">
                <svg  <svg fill="none" viewbox="0 0 24 24" stroke="currentColor" class="arrow-left w-4 h-4 mr-1.5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg>{{ options.prevTitle }}
            </a>
        {% else %}
            {# empty span hack is needed so grid layout works #}
            <span></span>
        {% endif %}
        
        {% if form %}
            {{ form_widget(form.submit, {
                'label': 'Save',
                'attr': {
                    'class': 'MetaData-SubmitButton',
                }
            }) }}
        {% endif %}
        
        {# {% if options.nextUrl != '' %}
            <button class="flex items-center self-center px-2 py-1 mt-2 bg-white border rounded-md justify-self-end border-mono-400 hover:bg-mono-200" onclick="location.href='{{ options.nextUrl }}';" role="link" type="button">
                {{ options.nextTitle }}
                <svg fill="none" viewbox="0 0 24 24" stroke="currentColor" class="arrow-right w-4 h-4 ml-1.5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button> #}
        {% if options.nextUrl != '' %}
            <a class="flex items-center self-center px-2 py-1 mt-2 underline justify-self-end " href="{{ options.nextUrl }}">
                {{ options.nextTitle }}
                <svg fill="none" viewbox="0 0 24 24" stroke="currentColor" class="arrow-right w-4 h-4 ml-1.5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        {% else %}
            {# empty span hack is needed so grid layout works #}
            <span></span>
        {% endif %}
    </div>
{% endmacro %}
