<nav>
    <a href="{{ path('Study-documentation', {uuid: experiment.id}) }}">Basic Information</a>
    <a href="{{ path('Study-theory', {uuid: experiment.id}) }}">Objectives & hypotheses</a>
    <a href="{{ path('Study-method', {uuid: experiment.id}) }}">Study method</a>
    <a href="{{ path('Study-measure', {uuid: experiment.id}) }}">Data collection</a>
    <a href="{{ path('Study-sample', {uuid: experiment.id}) }}">Sampling</a>
    <a href="{{ path('Study-datasets', {uuid: experiment.id}) }}">Datasets</a>
    <a href="{{ path('Study-materials', {uuid: experiment.id}) }}">Materials</a>
    <a href="{{ path('Study-documentation', {uuid: experiment.id}) }}">Review</a>
    <a href="{{ path('Study-documentation', {uuid: experiment.id}) }}">Export</a>
    <a href="{{ path('Study-settings', {uuid: experiment.id}) }}">Settings</a>
</nav>