{% if item.displayCondition %}
    <div class="mt-6">
        <h3 class="mx-6 text-lg font-semibold text-zpid-purple-700">{{ item.dataName|trans }}</h3>
        <ul class="">
            {% for entry in item.dataValue %}
                {% if entry != null and entry != '' %}
                    <li class="mx-6 mt-2 first:mt-0 max-w-prose">
                        {{ entry }}
                        <a href="#"
                           class="inline-flex items-center ml-0.5 text-sm top-px relative text-mono-400 hover:text-zpid-blue"
                           title="{{ 'generic.edit'|trans }}">
                            {# Icon: ic:outline-edit #}
                            <svg class="h-full m-1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                 style="vertical-align: -0.125em;" width="1em" height="1em"
                                 preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="none" stroke="currentColor" stroke-width="2"
                                      d="M14 4l6 6l-6-6zm8.294 1.294c.39.39.387 1.025-.008 1.42L9 20l-7 2l2-7L17.286 1.714a1 1 0 0 1 1.42-.008l3.588 3.588zM3 19l2 2m2-4l8-8"/>
                            </svg>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if item.errorMessage and item.errorType %}
            {% if item.errorType == 'mandatory' %}
                <div class="inline-block mx-6 mt-0 max-w-prose ReviewItem-Highlight ReviewItem-Highlight_mandatory ">
                    {{ item.errorMessage|trans({'#link#':'#', '#class#':'underline'})|raw }}
                </div>
            {% elseif item.errorType == 'recommended' %}
                <div class="inline-block mx-6 mt-0 max-w-prose ReviewItem-Highlight ReviewItem-Highlight_recommended">
                    {{ item.errorMessage|trans({'#link#':'#', '#class#':'underline'})|raw }}
                </div>
            {% else %}
                <div class="inline-block mx-6 mt-0 max-w-prose">
                    {{ item.errorMessage|trans({'#link#':'#', '#class#':'underline'})|raw }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
