{% extends "Layouts/base.html.twig" %}

{% block title %}
    {{ "title.admin.dashboard.title"|trans }}
{% endblock %}


{% block body %}
    <main class="max-w-screen-xl mx-auto mt-12 min-h-[calc(100%-15.5rem)] mb-12 flex flex-col ">
        <h2 class="flex items-center mx-8 text-3xl font-bold text-zpid-purple-700">
            {{ "title.admin.dashboard.title"|trans }}
        </h2>

        <div class="flex mt-4 justify-center">
            <div class="relative flex flex-col w-1/2 px-8 pt-6 pb-8 ml-8 mr-8 border border-gray-300 rounded-md bg-gray-50">
                {{ form_start(userForm) }}
                {{ form_row(userForm.firstname) }}
                {{ form_row(userForm.lastname) }}
                {{ form_row(userForm.email) }}
                <div>
                    {{ form_row(userForm.roles) }}
                </div>
                <div class="flex pt-8 justify-between">
                    <div>
                        <a class="flex items-center underline justify-self-start Button Button_tertiary Button_tertiary_go Button_standalone MetaData-SubmitButton_previous"
                           href="{{ path('admin_dashboard_user') }}">
                            Back to user overview
                        </a>
                    </div>
                    <div>{{ form_row(userForm.save) }}</div>
                </div>
                {{ form_end(userForm) }}
            </div>
        </div>
    </main>
{% endblock %}
