{% extends "Layouts/base.html.twig" %}

{% block title %}
    {{ "title.admin.dashboard.title"|trans }}
{% endblock %}


{% block body %}
    <main class="max-w-screen-xl mx-auto mt-12 min-h-[calc(100%-15.5rem)] mb-12 flex flex-col">
        <h2 class="flex items-center mx-8 text-3xl font-bold text-zpid-purple-700">
            {{ "title.admin.dashboard.title"|trans }}
        </h2>

        <div class="flex mt-4">
            <div class="relative flex flex-col w-full px-8 pt-6 pb-8 ml-8 mr-8 border border-gray-300 rounded-md bg-gray-50">
                <h3 class="text-2xl font-semibold text-zpid-purple-700">
                    {{ "title.admin.dashboard.user.title"|trans }}
                </h3>
                <div class="flex pt-3 pb-3 border-b-2 border-gray-300 pt-8">
                    <div class="w-1/5 font-bold">{{ "title.admin.dashboard.user.name"|trans }}/{{ "input.creator.name.family"|trans }}</div>
                    <div class="w-1/5 font-bold">{{ "title.admin.dashboard.user.email"|trans }}</div>
                    <div class="w-1/5 font-bold">{{ "title.admin.dashboard.user.registered"|trans }}</div>
                    <div class="w-1/5 font-bold">{{ "title.admin.dashboard.user.last"|trans }}</div>
                    <div class="flex-grow font-bold">{{ "title.admin.dashboard.user.roles"|trans }}</div>
                </div>
                {% for u in user %}
                    <div class="flex flex-row pt-3 pb-3 border-b-2 border-gray-300">
                        <div class="w-1/5">{{ u.firstname }}&nbsp;{{ u.lastname }}</div>
                        <div class="w-1/5">{{ u.email }}</div>
                        <div class="w-1/5">{{ u.dateRegistered|date('Y-m-d H:i:s') }}</div>
                        <div class="w-1/5">{{ u.lastLogin|date('Y-m-d H:i:s') }}</div>
                        <div class="flex-grow">
                            {% for role in u.roles %}
                                {% if role != 'ROLE_USER' %}
                                    <div>{{ "roles.#{role}"|trans }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="w-auto">
                            <a class="Button Button_primary Button_primary_go Button_standalone"
                               href="{{ path("admin_dashboard_studies") }}" type="button">
                                {{ "title.admin.dashboard.user.edit"|trans }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {{ dump(pagination) }}
                {% include 'Components/_pagination.html.twig' %}
            </div>


            {# <a href="{{path('admin_dashboard_user', pagination)}}">test</a> #}
        </div>
    </main>
{% endblock %}
