{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import bytesToSize %}
{% from "Components/_macros.html.twig" import editDescription %}

{% set isPartOfStudyDocumentation = true %}

{% block title %}
    {{ "title.dataset.title"|trans }}
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        {{ "title.dataset.h2"|trans }}
    </h2>
    {{ include("Components/_infoBridge.html.twig",{value: experiment.id}) }}
    {# <form action="{{ oneup_uploader_endpoint("datasets") }}"
          class="dropzone"
          id="datawiz-dropzone"
          style="width:200px; height:200px; border:4px dashed black"></form> #}
    <form action="{{ oneup_uploader_endpoint("datasets") }}" data-experiment-id="{{ experiment.id }}"
          class="mx-6 border-2 border-dashed border-mono-500 dropzone" id="datawiz-dropzone"
          data-preview-csv="{{ path("File-preview-csv",{"fileId": " "}) }}"
          data-submit-csv="{{ path("File-submit-csv",{"fileId": " "}) }}"
          data-preview-sav="{{ path("File-preview-sav",{"fileId": " "}) }}"
          data-submit-sav="{{ path("File-submit-sav",{"fileId": " "}) }}"
    >
        <input type="hidden" id="dataset-import-data" name="dataset-import-data" value=""/>
    </form>
    <h3 class="mx-6 mt-6 text-xl">
        {{ "title.dataset.h3"|trans }}
    </h3>
    <ul class="mx-6 mt-6">
        {% for dataset in experiment.originalDatasets %}
            <li class="pt-3 pb-4 mt-2 first:mt-0 bg-mono-100">
                <div class="bg-mono-100" x-data="modal()" @keydown.window.escape="hide()">
                    <h4 class="flex justify-between mx-4">
                        <span class="text-lg font-semibold font-">
                            {{ dataset.originalName }}
                        </span>
                        <button class="flex items-center self-start px-2 ml-2 border rounded hover:text-red-700 hover:bg-red-50 border-mono-300 hover:border-red-700"
                                @click="show()">
                            {# Icon: mi:delete - https://icon-sets.iconify.design/mi/delete/ #}
                            <svg class="mr-0.5" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                 width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <g fill="none">
                                    <path d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4V4zm2 2h6V4H9v2zM6.074 8l.857 12H17.07l.857-12H6.074zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1z"
                                          fill="currentColor"/>
                                </g>
                            </svg>
                            {{ "generic.delete"|trans }}
                        </button>
                    </h4>

                    <!-- Modal confirming delete action -->
                    <div class="Modal-Overlay" x-bind="overlay" x-cloak>
                        <div class="Modal-Dialog" @click.outside="hide()">

                            <div class="Modal-Header">
                                <div class="Modal-Title">
                                    {{ "title.dataset.deleteModal.title"|trans }}
                                </div>
                                <button class="Modal-Button_close" @click="hide()" type="button">
                                    <span class="w-6 h-6 iconify" data-icon="mdi:close" data-inline="false"></span>
                                </button>
                            </div>

                            <div class="Modal-Body">
                                {{ "title.dataset.deleteModal.body"|trans({'#datasetName#':"<span class='font-semibold'>" ~ dataset.originalName ~ "</span>"})|raw }}
                            </div>

                            <div class="Modal-Footer">
                                <button class="Modal-Button_warning" type="button"
                                        @click="window.location.href='{{ path('File-delete_dataset', { "uuid": dataset.id }) }}'"
                                >
                                    {{ "title.dataset.deleteModal.confirm"|trans }}
                                </button>
                                <button class="Modal-Button_cancel" type="button" x-ref="focusFirst" @click="hide()">
                                    {{ "generic.cancel"|trans }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="mx-4 mt-1">
                        <span class="font-semibold">{{ "title.dataset.details.date"|trans }}</span><span
                                class="ml-1">{{ dataset.dateUploaded|date }}</span>
                        <span class="font-semibold">{{ "title.dataset.details.date"|trans }}</span><span
                                class="ml-1">{{ bytesToSize(dataset.originalSize) }}</span>
                    </div>

                    {{ editDescription(dataset, loop.index, path('File-update_description', { 'uuid': dataset.id })) }}

                    <div class="flex mx-4 mt-4">
                        <a href="#"
                           class="flex items-center px-2 border rounded border-mono-500">
                            <svg class="mr-0.5" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 aria-hidden="true" role="img" style="vertical-align: -0.125em;" width="1em"
                                 height="1em"
                                 preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path d="M17 16.88c.56 0 1 .44 1 1s-.44 1-1 1s-1-.45-1-1s.44-1 1-1m0-3c2.73 0 5.06 1.66 6 4c-.94 2.34-3.27 4-6 4s-5.06-1.66-6-4c.94-2.34 3.27-4 6-4m0 1.5a2.5 2.5 0 0 0 0 5a2.5 2.5 0 0 0 0-5M18 3H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h5.42c-.16-.32-.3-.66-.42-1c.12-.34.26-.68.42-1H4v-4h6v2.97c.55-.86 1.23-1.6 2-2.21V13h1.15c1.16-.64 2.47-1 3.85-1c1.06 0 2.07.21 3 .59V5c0-1.1-.9-2-2-2m-8 8H4V7h6v4m8 0h-6V7h6v4z"
                                      fill="currentColor"/>
                            </svg>
                            {{ "link.view.dataset"|trans }}
                        </a>
                        <a href="{{ path('codebook_index', {uuid: dataset.id}) }}"
                           class="flex items-center px-2 ml-1 border rounded border-mono-500">
                            <svg class="mr-0.5" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 aria-hidden="true" role="img" style="vertical-align: -0.125em;" width="1em"
                                 height="1em"
                                 preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path d="M21.7 13.35l-1 1l-2.05-2.05l1-1c.21-.22.56-.22.77 0l1.28 1.28c.22.21.22.56 0 .77M12 18.94l6.07-6.06l2.05 2.05L14.06 21H12v-2.06M4 2h14a2 2 0 0 1 2 2v4.17L16.17 12H12v4.17L10.17 18H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2m0 4v4h6V6H4m8 0v4h6V6h-6m-8 6v4h6v-4H4z"
                                      fill="currentColor"/>
                            </svg>
                            {{ "link.edit.codebook"|trans }}
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <!-- Modal -->
    <div class="fixed inset-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto outline-none focus:outline-none"
         id="modal-dataset-import">
        <div class="relative w-auto max-w-6xl mx-auto my-6">
            <!--content-->
            <div class="relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none">
                <!--header-->
                <div class="flex items-start justify-between p-5 border-b border-gray-200 border-solid rounded-t">
                    <h3 class="text-3xl font-semibold">
                        Import Datafile
                    </h3>
                </div>
                <!--body-->
                <div class="relative flex-auto p-6">
                    <form id="dataset-import-form"
                          data-preview-url="{{ path("File-preview-csv",{"fileId": " "}) }}"
                          data-submit-url="{{ path("File-submit-csv",{"fileId": " "}) }}">
                        <input type="hidden" id="dataset-file-id" name="dataset-file-id" value="">
                        <div>
                            <label for="dataset-import-delimiter">Delimiter</label>
                            <select id="dataset-import-delimiter" name="dataset-import-delimiter">
                                <option value="," selected>,</option>
                                <option value=";" selected>;</option>
                                <option value="t" selected>Tabulator</option>
                            </select>
                        </div>
                        <div>
                            <label for="dataset-import-escape">Escape</label>
                            <select id="dataset-import-escape" name="dataset-import-escape">
                                <option value="double" selected>"</option>
                                <option value="single" selected>'</option>
                                <option value="none" selected>none</option>
                            </select>
                        </div>
                        <div>
                            <label for="dataset-import-header-rows">Amount of Header rows</label>
                            <input type="number" id="dataset-import-header-rows" name="dataset-import-header-rows"
                                   min="0" value="0">
                        </div>
                    </form>
                    <div id="dataset-import-result"></div>
                </div>
                <!--footer-->
                <div class="flex items-center justify-end p-6 border-t border-gray-200 border-solid rounded-b">
                    <button
                            class="px-6 py-2 mb-1 mr-1 text-sm font-bold text-purple-500 uppercase transition-all duration-150 ease-linear outline-none background-transparent focus:outline-none"
                            type="button">
                        Discard Import
                    </button>
                    <button
                            class="px-4 py-2 mb-1 mr-1 text-xs font-bold text-white uppercase transition-all duration-150 ease-linear bg-purple-500 rounded shadow outline-none active:bg-purple-600 hover:shadow-md focus:outline-none"
                            type="button"
                            id="dataset-import-submit">
                        Save Import
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed inset-0 z-40 hidden bg-black opacity-25" id="modal-dataset-import-backdrop"></div>

    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-sample',
        prevTitle: 'saveNav.dataset.prev'|trans,
        nextUrl: 'Study-materials',
        nextTitle: 'saveNav.dataset.next'|trans,
        form: null
    })) }}
{% endblock %}
