{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}

{% block title %}
    Datasets for your Study
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        Datasets for the Study
    </h2>

    {{ include("Components/_infoBridge.html.twig",{value: experiment.id}) }}
    <form action="{{ oneup_uploader_endpoint("datasets") }}"
          class="mx-6 border-2 border-dashed border-mono-500 dropzone" id="datawiz-dropzone"></form>

    <h3 class="mx-6 mt-6 text-xl">
        Already uploaded
    </h3>
    <ul class="mx-6 mt-6">
        {% for dataset in experiment.originalDatasets %}
            <li>{{ dataset.atUploadNameable }} - <a href="{{ path('Codebook-index', {uuid: dataset.id}) }}"
                                                    class="underline">Edit codebook</a></li>
        {% endfor %}
    </ul>

    {{ wizNav({
        'prevUrl': path('Study-sample', {uuid: experiment.id}),
        'prevTitle': 'Sampling',
        'nextUrl': path('Study-materials', {uuid: experiment.id}),
        'nextTitle': 'Upload materials',
    }) }}
{% endblock %}
