{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = true %}

{% block title %}
    {{ "title.basic.title"|trans }}
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        {{ "title.basic.h2"|trans }}
    </h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}



    {#
    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Contact
            </legend>
            {{ helpButton("contact") }}
        </div>
        {{ form_label(form.contact) }}
        {{ form_errors(form.contact) }}
        {{ form_widget(form.contact) }}
    </fieldset> #}

    <fieldset>
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.title.legend"|trans }}
            </legend>
            {{ helpButton("title") }}
        </div>
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        <div class="MetaData-Widget">
            {{ form_widget(form.title) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.description.legend"|trans }}
            </legend>
            {{ helpButton("description") }}
        </div>
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        <div class="MetaData-Widget">
            {{ form_widget(form.description) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.relatedPubs.legend"|trans }}
            </legend>
            {{ helpButton("related_publications") }}
        </div>
        {% include "Components/_collectionWidget.html.twig" with
            {
                collection: form.related_publications,
                id: 'related-publications-fields-list',
                addTxt: 'input.relatedPubs.add',
                removeTxt: 'generic.remove',
            } %}
    </fieldset>

    <fieldset>
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Creators
            </legend>
            {{ helpButton("creator") }}
        </div>
        {% include "Components/_creatorsWidget.html.twig" with
            {
                collection: form.creators,
                id: 'creators-fields-list',
                addTxt: 'input.creator.add',
                removeTxt: 'generic.remove',
            } %}
    </fieldset>

    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-introduction',
        prevTitle: 'saveNav.basic.prev'|trans,
        nextUrl: 'Study-theory',
        nextTitle: 'saveNav.basic.next'|trans,
        form: form
    })) }}

    {{ form_end(form) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("basic") }}
{% endblock %}

{% block help_for_metadata %}
    {# {{ formHelp("basic", "creator") }}
    {{ formHelp("basic", "contact") }} #}
    {{ formHelp("basic", "title") }}
    {{ formHelp("basic", "description") }}
    {{ formHelp("basic", "related_publications") }}
{% endblock %}
