{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = true %}

{% block title %}
    General Information
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        Basic information
    </h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <fieldset>
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Creators
            </legend>
            {{ helpButton("creator") }}
        </div>
        {{ form_label(form.creator) }}
        {{ form_errors(form.creator) }}
        {{ form_widget(form.creator) }}
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Contact
            </legend>
            {{ helpButton("contact") }}
        </div>
        {{ form_label(form.contact) }}
        {{ form_errors(form.contact) }}
        {{ form_widget(form.contact) }}
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Title
            </legend>
            {{ helpButton("title") }}
        </div>
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        <div class="MetaData-Widget">
            {{ form_widget(form.title) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Description
            </legend>
            {{ helpButton("description") }}
        </div>
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        <div class="MetaData-Widget">
            {{ form_widget(form.description) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Related publications
            </legend>
            {{ helpButton("related_publications") }}
        </div>
        {{ form_label(form.related_publications) }}
        {{ form_errors(form.related_publications) }}
        {{ form_widget(form.related_publications) }}
    </fieldset>


    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-introduction',
        prevTitle: 'Introduction',
        nextUrl: 'Study-theory',
        nextTitle: 'Objectives & hypotheses',
        form: form
    })) }}

    {{ form_end(form) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("basic") }}
{% endblock %}

{% block help_for_metadata %}
    {{ formHelp("basic", "creator") }}
    {{ formHelp("basic", "contact") }}
    {{ formHelp("basic", "title") }}
    {{ formHelp("basic", "description") }}
    {{ formHelp("basic", "related_publications") }}
{% endblock %}
