{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}

{% set isPartOfStudyDocumentation = true %}

{% block title %}
    {{ "title.introduction.title"|trans }}
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        {{ "title.introduction.h2"|trans }}
    </h2>

    <div class="MetaData-Title">
        <h3 class="MetaData-Legend">
            {{ "title.introduction.h3_1"|trans }}
        </h3>
    </div>
    <div class="MetaData-Widget markdown">
        {{ source("Help/study_introduction/step_by_step.md")|markdown_to_html }}
    </div>

    <div class="mt-8 MetaData-Title">
        <h3 class="MetaData-Legend">
            {{ "title.introduction.h3_2"|trans }}
        </h3>
        {{ helpButton("help_intro") }}
    </div>
    <div class="mb-6 MetaData-Widget">
        {{ "title.introduction.help"|trans({'#helpBtn#':helpButton('help_intro')})|raw }}
    </div>

    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: null,
        prevTitle: null,
        nextUrl: 'Study-documentation',
        nextTitle: 'saveNav.introduction.next'|trans,
        form: null
    })) }}

{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("study_introduction") }}
{% endblock %}

{% block help_for_metadata %}
    {{ formHelp("study_introduction", "help_intro") }}
{% endblock %}
