{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}

{% block title %}
    Materials for your Study
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        Materials for the Study
    </h2>

    {{ include("Components/_infoBridge.html.twig",{value: experiment.id}) }}
    <form action="{{ oneup_uploader_endpoint("materials") }}"
        class="mx-6 border-2 border-dashed border-mono-500 dropzone"
        id="datawiz-dropzone"></form>

    {% if (experiment.additionalMaterials|length) > 0 %}
        <h3 class="mx-6 mt-6 text-xl">
            Uploaded materials
        </h3>
        <ul class="mx-6 mt-6">
            {% for material in experiment.additionalMaterials %}
                <li class="p-1 mt-2 bg-mono-100">
                    <a href="{{ path('File-details', { 'uuid': material.id }) }}" class="underline">{{ material.atUploadNameable }}</a>

                    {% if material.fileDescription != "" %}
                        <div>
                            Description: {{ material.fileDescription }}
                        </div>
                    {% endif %}

                    <div class="mt-2 text-right" x-data="">
                        <button class="ml-2 hover:text-red-500">
                            <span class="inline w-4 h-4 iconify-inline" data-icon="radix-icons:cross-2"></span>Remove
                        </button>

                        <button type="button" class="px-8 " @click="window.location.href='{{ path("File-details", { "uuid": material.id }) }}'">Edit</button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ wizNav({
        'prevUrl': path('Study-datasets', {uuid: experiment.id}),
        'prevTitle': 'Manage datasets',
        'nextUrl': path('Study-review', {uuid: experiment.id}),
        'nextTitle': 'Review input',
    }) }}
{% endblock %}
