{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}

{% block title %}
    {{ "title.page.material"|trans }}
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        {{ "title.material.h2"|trans }}
    </h2>
    {{ include("Components/_infoBridge.html.twig",{value: experiment.id}) }}
    <form action="{{ oneup_uploader_endpoint("materials") }}"
          class="mx-6 border-2 border-dashed border-mono-500 dropzone"
          id="datawiz-dropzone"></form>
    {% if (experiment.additionalMaterials|length) > 0 %}
        <h3 class="mx-6 mt-6 text-xl">
            {{ "title.material.h3"|trans }}
        </h3>
        <ul class="mx-6 mt-6">
            {% for material in experiment.additionalMaterials %}
                <li class="p-1 mt-2 bg-mono-100">
                    <a href="{{ path('File-details', { 'uuid': material.id }) }}" class="underline">{{ material.originalName }}</a>
                    {% if material.description != "" %}
                        <div>
                            {{ "generic.description"|trans }}&nbsp;{{ material.description }}
                        </div>
                    {% endif %}
                    <div class="mt-2 text-right" x-data="">
                        <button class="ml-2 hover:text-red-500">
                            <a href="{{ path('File-delete_material', { "uuid": material.id }) }}">
                                <span class="inline w-4 h-4 iconify-inline" data-icon="radix-icons:cross-2"></span>
                                {{ "generic.remove"|trans }}
                            </a>
                        </button>
                        <button type="button" class="px-8 " @click="window.location.href='{{ path("File-details", { "uuid": material.id }) }}'">
                            {{ "generic.edit"|trans }}
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-datasets',
        prevTitle: 'saveNav.material.prev'|trans,
        nextUrl: 'Study-review',
        nextTitle: 'saveNav.material.next'|trans,
        form: null
    })) }}

{% endblock %}
