{% extends "Layouts/threeColumn.html.twig" %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = true %}

{% block title %}
    Measurements for your Study
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        Data collection
    </h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.measures) }}
        {{ form_help(form.measures) }}
        {{ form_errors(form.measures) }}
        {{ form_widget(form.measures) }}
    </div>

    <div class="mt-8">
        {{ form_label(form.apparatus) }}
        {{ form_help(form.apparatus) }}
        {{ form_errors(form.apparatus) }}
        {{ form_widget(form.apparatus) }}
    </div>

    {# prettier-ignore-start #}
    {{ form_widget(form.submit, {'attr': {
        'class': 'mx-6 mt-4 mb-4',}
    }) }}
    {# prettier-ignore-end #}

    {{ form_end(form) }}
{% endblock %}
