{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = true %}

{% block title %}
    Measurements for your Study
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        Data collection
    </h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <fieldset>
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Tests and measures
            </legend>
            {{ helpButton("measure") }}
        </div>
        {{ form_label(form.measures) }}
        {{ form_errors(form.measures) }}
        {{ form_widget(form.measures) }}
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Apparatus (Instruments, Equipment)
            </legend>
            {{ helpButton("apparatus") }}
        </div>
        {{ form_label(form.apparatus) }}
        {{ form_errors(form.apparatus) }}
        {{ form_widget(form.apparatus) }}
    </fieldset>


    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-method',
        prevTitle: 'Study method',
        nextUrl: 'Study-sample',
        nextTitle: 'Sampling',
        form: form
    })) }}

    {{ form_end(form) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("data_collection") }}
{% endblock %}

{% block help_for_metadata %}
    {{ formHelp("data_collection", "measure") }}
    {{ formHelp("data_collection", "apparatus") }}
{% endblock %}
