{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = true %}

{% block title %}
    {{ "title.method.title"|trans }}
{% endblock %}

{% block content %}
    <h2 class="MetaDataGroup-Title">
        {{ "title.method.title"|trans }}
    </h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <fieldset>
        <div class="MetaData-Title">
            <legend class="MetaData-Legend" id="{{ 'input.design.legend'|trans|slug }}">
                {{ "input.design.legend"|trans }}
            </legend>
            {{ helpButton("research_design") }}
        </div>
        {{ form_label(form.research_design) }}
        <div class="MetaData-Widget" x-data=""
             x-init="$store.app.researchDesign = '{{ form.research_design.vars.value }}'">
            {{ form_errors(form.research_design) }}
            {%- for choice in form.research_design %}
                {{ form_widget(choice) }}
                {{ form_label(choice, null, {
                    'label_attr': {
                        'class': 'RadioButton-Label RadioButton-Label_card',
                        '@click': '$store.app.researchDesign = "' ~ choice.vars.value ~ '"'
                    },
                    'label_html': true,
                }) }}
            {% endfor -%}
            <span id="{{ 'input.design.details.legend'|trans|slug }}"></span>
            <div x-show="$store.app.researchDesign === '{{ form.research_design.vars.choices[0].value }}'"
                 x-cloak="x-cloak" class="mt-4 ml-4" x-transition:enter="transition duration-300"
                 x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                 x-transition:leave="transition duration-[0ms]" x-transition:leave-start="opacity-100"
                 x-transition:leave-end="opacity-0">
                {{ form_label(form.experimentalDetails) }}
                {{ form_errors(form.experimentalDetails) }}
                {%- for choice in form.experimentalDetails %}
                    {{ form_widget(choice) }}
                    {{ form_label(choice, null, {
                        'label_attr': {'class': 'RadioButton-Label'},
                        'label_html': true,
                    }) }}
                {% endfor -%}
            </div>
            <div x-show="$store.app.researchDesign === '{{ form.research_design.vars.choices[1].value }}'"
                 x-cloak="x-cloak" class="mt-4 ml-4"
                 x-init="$store.app.nonExperimentalType = '{{ form.nonExperimentalDetails.vars.value }}'"
                 x-transition:enter="transition duration-300" x-transition:enter-start="opacity-0"
                 x-transition:enter-end="opacity-100" x-transition:leave="transition duration-[0ms]"
                 x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">

                {{ form_label(form.nonExperimentalDetails) }}
                {{ form_errors(form.nonExperimentalDetails) }}
                {%- for choice in form.nonExperimentalDetails %}
                    {{ form_widget(choice) }}

                    {{ form_label(choice, null, {
                        "label_attr":           {
                            'class': 'RadioButton-Label',
                            '@click': '$store.app.nonExperimentalType = "' ~ choice.vars.value ~ '"',
                        },
                        'label_html': true,
                    }) }}

                    {% if choice.vars.value == 'Observational study' %}
                        {{- form_label(form.observationalType, null, {
                            'label_attr': {
                                'class': 'ml-[1.375rem] mt-1 block',
                            }
                        }) -}}
                        {{- form_errors(form.observationalType) -}}
                        {{- form_widget(form.observationalType, {
                            'attr': {
                                'class': 'ml-[1.375rem] disabled:opacity-50 p-1 mt-1 block',
                                'x-data': '',
                                'x-bind:disabled': '$store.app.nonExperimentalType !== "' ~ choice.vars.value ~ '"'
                            }
                        }) -}}
                    {% endif %}
                {% endfor -%}
            </div>
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend" id="{{ 'input.setting.legend'|trans|slug }}">
                {{ "input.setting.legend"|trans }}
            </legend>
            {{ helpButton("setting") }}
        </div>
        {{ form_label(form.setting) }}
        <div x-data="" class="MetaData-Widget" x-init="$store.app.settingType = '{{ form.setting.vars.value }}'">
            {{ form_errors(form.setting) }}
            {%- for choice in form.setting %}
                {{ form_widget(choice) }}
                {{ form_label(choice, null, {
                    'label_attr': {
                        'class': 'RadioButton-Label',
                        '@click': '$store.app.settingType = "' ~ choice.vars.value ~ '"'
                    },
                    'label_html': true,
                }) }}
            {% endfor -%}
        </div>
        {{ form_label(form.settingLocation, null, {
            'label_attr': {'id': 'input.setting.location.legend'|trans|slug },
        }) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.settingLocation) }}
            {{ form_widget(form.settingLocation) }}
        </div>
    </fieldset>

    <fieldset class="mt-8" x-data=""
              x-show="$store.app.researchDesign === '{{ form.research_design.vars.choices[0].value }}'"
              x-cloak="x-cloak">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend" id="{{ 'input.manipulations.legend'|trans|slug }}">
                {{ "input.manipulations.legend"|trans }}
            </legend>
            {{ helpButton("manipulations") }}
        </div>
        {{ form_label(form.manipulations) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.manipulations) }}
            {{ form_widget(form.manipulations) }}
        </div>
    </fieldset>

    <fieldset class="mt-8" x-data=""
              x-show="$store.app.researchDesign === '{{ form.research_design.vars.choices[0].value }}'"
              x-cloak="x-cloak">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend" id="{{ 'input.experimental-design.legend'|trans|slug }}">
                {{ "input.experimental-design.legend"|trans }}
            </legend>
            {{ helpButton("experimental_design") }}
        </div>
        {{ form_label(form.experimental_design, null, {
            'label_attr': {'class': 'MetaData-Label'},
        }) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.experimental_design) }}
            {%- for choice in form.experimental_design %}
                {{ form_widget(choice, {
                    'attr': {'class': 'RadioButton-Input'}
                }) }}
                {{ form_label(choice, null, {
                    'label_attr': {'class': 'RadioButton-Label'},
                    'label_html': true,
                    'class': 'RadioButton-Input'
                }) }}
            {% endfor -%}
        </div>
    </fieldset>

    <fieldset class="mt-8" x-data="" x-init="$store.app.controlOperations = '{{ form.control_operations.vars.value }}'"
              x-show="$store.app.researchDesign === '{{ form.research_design.vars.choices[0].value }}'"
              x-cloak="x-cloak">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend" id="{{ 'input.control-operations.legend'|trans|slug }}">
                {{ "input.control-operations.legend"|trans }}
            </legend>
            {{ helpButton("control_operations") }}
        </div>
        {{ form_label(form.control_operations) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.control_operations) }}
            {%- for choice in form.control_operations %}
                {{ form_widget(choice) }}
                {{ form_label(choice, null, {
                    'label_attr': {
                        'class': 'RadioButton-Label',
                        '@click': '$store.app.controlOperations = "' ~ choice.vars.value ~ '"'
                    }
                }) }}
            {% endfor -%}
        </div>
        {{ form_label(form.otherControlOperations, null, {
            'label_attr': {
                'class': 'MetaData-Label ml-[1.375rem]',
            }
        }) }}
        <div class="flex MetaData-Widget">
            {{ form_errors(form.otherControlOperations) }}
            {{ form_widget(form.otherControlOperations, {
                'attr': {
                    'class': 'MetaData-TextInput disabled:opacity-50 ml-[1.375rem]',
                    'x-bind:disabled': '$store.app.controlOperations !== `Other`'
                }
            }) }}
        </div>
    </fieldset>

    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevTitle: 'title.theroies.title'|trans,
        nextTitle: 'title.measures.title'|trans,
        form: form
    })) }}

    {{ form_end(form) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("method") }}
{% endblock %}

{% block help_for_metadata %}
    {{ formHelp("method", "research_design", "input.design.legend") }}
    {{ formHelp("method", "setting", "input.setting.legend") }}
    {{ formHelp("method", "manipulations", "input.manipulations.legend") }}
    {{ formHelp("method", "experimental_design", "input.experimental-design.legend") }}
    {{ formHelp("method", "control_operations", "input.control-operations.legend") }}
{% endblock %}
