{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = true %}

{% block title %}
    Methods of your Study
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        Study method
    </h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.research_design) }}
        {{ form_help(form.research_design) }}
        {{ form_errors(form.research_design) }}
        <div class="px-6 pt-1">
            {{ form_widget(form.research_design) }}
        </div>
    </div>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Setting
            </legend>
            {{ helpButton("setting") }}
        </div>
        {{ form_label(form.setting) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.setting) }}
            {%- for choice in form.setting %}
                {{ form_widget(choice) }}
                {{ form_label(choice, null, {
                    label_attr: {class: 'RadioButton-Label'},
                    'label_html': true,
                }) }}
            {% endfor -%}
        </div>
        {{ form_label(form.settingLocation) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.settingLocation) }}
            {{ form_widget(form.settingLocation) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Experimental manipulation(s), treatments, or interventions
            </legend>
            {{ helpButton("manipulations") }}
        </div>
        {{ form_label(form.manipulations) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.manipulations) }}
            {{ form_widget(form.manipulations) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Design
            </legend>
            {{ helpButton("experimental_design") }}
        </div>
        {{ form_label(form.experimental_design) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.experimental_design) }}
            {%- for choice in form.experimental_design %}
                {{ form_widget(choice) }}
                {{ form_label(choice, null, {
                    label_attr: {class: 'RadioButton-Label'}
                }) }}
            {% endfor -%}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Control Operations
            </legend>
            {{ helpButton("control_operations") }}
        </div>
        {{ form_label(form.control_operations) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.control_operations) }}
            {%- for choice in form.control_operations %}
                {{ form_widget(choice) }}
                {{ form_label(choice, null, {
                    label_attr: {class: 'RadioButton-Label'}
                }) }}
            {% endfor -%}
        </div>
    </fieldset>

    {{ wizNav({
        'prevUrl': path('Study-theory', {uuid: experiment.id}),
        'prevTitle': 'Objectives & Hypotheses',
        'nextUrl': path('Study-measure', {uuid: experiment.id}),
        'nextTitle': 'Data collection'
    }, form) }}

    {{ form_end(form) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("method") }}
{% endblock %}

{% block help_for_metadata %}
    {{ formHelp("method", "research_design") }}
    {{ formHelp("method", "setting") }}
    {{ formHelp("method", "manipulations") }}
    {{ formHelp("method", "experimental_design") }}
    {{ formHelp("method", "control_operations") }}
{% endblock %}
