{% extends "Layouts/base.html.twig" %}

{% set isPartOfStudyDocumentation = true %}

{% block title %}
    Studies
{% endblock %}

{% block body %}
    <div class="col-span-full xl:col-start-3 xl:col-end-11">
        <main class="mt-12">
            <div class="flex mt-6">
                <h2 class="inline text-2xl font-semibold">
                    My studies
                </h2>
                <span class="self-center">
                    <button class="px-2 ml-2 bg-white border rounded-md border-mono-500 hover:bg-mono-100" onclick="window.location.href='{{ path("Study-new") }}'">
                        Create new study
                    </button>
                </span>
            </div>
            <ul>
                {% for experiment in all_experiments %}
                    <li>
                        <div class="mt-4 bg-mono-50">
                            <a class="text-xl underline" href="{{ path('Study-documentation', {uuid: experiment.id}) }}">
                                {{ experiment.settingsMetaDataGroup.shortName }}
                            </a>
                            <div>
                                <span class="font-semibold">Title:</span>
                                {{ experiment.basicInformationMetaDataGroup.title }}
                            </div>
                            <div>
                                <span class="font-semibold">Datasets:</span>
                            </div>
                            <div>
                                <a href="{{ path('Study-delete', {uuid: experiment.id}) }}">Delete</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <h2 class="mt-6 text-2xl font-semibold">
                Shared studies
            </h2>
            <div class="mt-4 italic">
                An overview of studies you have shared with others appears here
            </div>
        </main>
    </div>
{% endblock %}
