{% extends "Layouts/base.html.twig" %}

{% block body %}
    <div class="text-2xl m-8 rounded-lg p-4 shadow-lg border-2 border-gray-800 inline-block">
        Overview
    </div>

    {{ include('Components/_userProfileReference.html.twig') }}

    <ul>
        {% for experiment in all_experiments %}
           <li>
               {{ experiment.settingsMetaDataGroup.shortName }}
               <a href="{{ path('Study-settings', {uuid: experiment.id}) }}">
                   <span>|change name|</span>
               </a>
               <a href="{{ path('Study-documentation', {uuid: experiment.id}) }}">
                   <span>|Basic Information| </span>
               </a>
               <a href="{{ path('Study-theory', {uuid: experiment.id}) }}">
                   <span>|Theory| </span>
               </a>
               <a href="{{ path('Study-sample', {uuid: experiment.id}) }}">
                   <span>|Sample| </span>
               </a>
               <a href="{{ path('Study-measure', {uuid: experiment.id}) }}">
                   <span>|Measure| </span>
               </a>
               <a href="{{ path('Study-method', {uuid: experiment.id}) }}">
                   <span>|Method| </span>
               </a>
           </li>
        {% endfor %}
    </ul>
{% endblock %}
