{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = false %}

{% block title %}
    Data Overview
{% endblock %}

{% block content %}
    <div class="inline-block p-4 m-8 text-2xl border-2 border-gray-800 rounded-lg shadow-lg">
        Review for {{ experiment.settingsMetaDataGroup.shortName }}
    </div>
    <p>
        Please check your given information for completion and correctness.
    </p>

    <article>
        <section>
            <h3>
                Basic Information
            </h3>
            <p>
                Creator: {{ include("Components/_reviewArrayValue.html.twig",{arrayRendered: experiment.basicInformationMetaDataGroup.creator}) }}</p>
            <p>
                Contact: {{ include("Components/_reviewArrayValue.html.twig",{arrayRendered: experiment.basicInformationMetaDataGroup.contact}) }}</p>
            <p>Title: {{ experiment.basicInformationMetaDataGroup.title }}</p>
            <p>Description: {{ experiment.basicInformationMetaDataGroup.description }}</p>
            <p>Related
                Publictions: {{ include("Components/_reviewArrayValue.html.twig",{arrayRendered: experiment.basicInformationMetaDataGroup.relatedPublications}) }}
            </p>
        </section>
        <section>
            <h3>
                Objective and Hypothesis
            </h3>
            <p>
                Objectives: {{ experiment.theoryMetaDataGroup.objective }}
            </p>
            <p>
                Hypotheses: {{ experiment.theoryMetaDataGroup.hypothesis }}
            </p>
        </section>
        <section>
            <h3>
                Study Method
            </h3>
            <p>
                Setting: {{ experiment.methodMetaDataGroup.setting }}</p>
            <p>
            <p>
                Experimental manipulation(s), treatments, or
                interventions: {{ experiment.methodMetaDataGroup.manipulations }}</p>
            <p>
            <p>
                Design: {{ experiment.methodMetaDataGroup.experimentalDesign }}</p>
            <p>
            <p>
                Control Operations: {{ experiment.methodMetaDataGroup.controlOperations }}</p>
            <p>
        </section>
        <section>
            <h3>
                Data Collection
            </h3>
            <p>
                Tests and measures: {{ include("Components/_reviewArrayValue.html.twig",{arrayRendered: experiment.measureMetaDataGroup.measures }) }}
            </p>
            <p>
                Apparatus: {{ include("Components/_reviewArrayValue.html.twig",{arrayRendered: experiment.measureMetaDataGroup.apparatus }) }}
            </p>
        </section>
        <section>
            <h3>
                Sampling
            </h3>
            <p>
                Inclusion Criteria: {{ experiment.sampleMetaDataGroup.inclusionCriteria }}</p>
            <p>
            <p>
                Exclusion Criteria: {{ experiment.sampleMetaDataGroup.exclusionCriteria }}</p>
            <p>
            <p>
                Population: {{ experiment.sampleMetaDataGroup.population }}</p>
            <p>
            <p>
                Sample Method: {{ experiment.sampleMetaDataGroup.samplingMethod }}</p>
            <p>
            <p>
                Sample Size: {{ experiment.sampleMetaDataGroup.sampleSize }}</p>
            <p>
            <p>
                Power Analysis: {{ experiment.sampleMetaDataGroup.powerAnalysis }}</p>
            <p>
        </section>
    </article>

    {{ wizNav({
        'prevUrl': path('Study-materials', {uuid: experiment.id}),
        'prevTitle': 'Upload materials',
        'nextUrl': '#',
        'nextTitle': 'Export study'
    }) }}
{% endblock %}
