{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = true %}

{% block title %}
    {{ "title.samples.title"|trans }}
{% endblock %}

{% block content %}
    <h2 class="MetaDataGroup-Title">
        {{ "title.samples.title"|trans }}
    </h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <fieldset>
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.participants.legend"|trans }}
            </legend>
            {{ helpButton("participants") }}
        </div>
        {{ form_label(form.participants) }}
        {{ form_errors(form.participants) }}
        <div class="MetaData-Widget">
            {{ form_widget(form.participants) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.population.legend"|trans }}
            </legend>
            {{ helpButton("population") }}
        </div>
        {% include "Components/_collectionWidget.html.twig" with
            {
                collection: form.population,
                id: 'population-fields-list',
                addTxt: 'input.population.add',
                removeTxt: 'generic.remove',
            } %}
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.inclusion.legend"|trans }}
            </legend>
            {{ helpButton("inclusion_criteria") }}
        </div>
        {% include "Components/_collectionWidget.html.twig" with
            {
                collection: form.inclusion_criteria,
                id: 'inclusion-fields-list',
                addTxt: 'input.inclusion.add',
                removeTxt: 'generic.remove',
            } %}
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.exclusion.legend"|trans }}
            </legend>
            {{ helpButton("exclusion_criteria") }}
        </div>
        {% include "Components/_collectionWidget.html.twig" with
            {
                collection: form.exclusion_criteria,
                id: 'exclusion-fields-list',
                addTxt: 'input.exclusion.add',
                removeTxt: 'generic.remove',
            } %}
    </fieldset>

    <fieldset class="mt-8" x-data="" x-init="$store.app.samplingMethod = '{{ form.sampling_method.vars.value }}'">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.sampling.legend"|trans }}
            </legend>
            {{ helpButton("sampling_method") }}
        </div>
        {{ form_label(form.sampling_method) }}
        <div class="MetaData-Widget">
            {{ form_errors(form.sampling_method) }}
            {%- for choice in form.sampling_method %}
                {{ form_widget(choice) }}
                {{ form_label(choice, null, {
                    'label_attr': {
                        'class': 'RadioButton-Label',
                        '@click': '$store.app.samplingMethod = "' ~ choice.vars.value ~ '"'
                    }
                }) }}
            {% endfor -%}
        </div>
        {{ form_label(form.otherSamplingMethod, null, {
            'label_attr': {
                'class': 'MetaData-Label ml-[1.375rem]',
            }
        }) }}
        <div class="flex MetaData-Widget">
            {{ form_errors(form.otherSamplingMethod) }}
            {{ form_widget(form.otherSamplingMethod, {
                'attr': {
                    'class': 'MetaData-TextInput disabled:opacity-50 ml-[1.375rem]',
                    'x-bind:disabled': '$store.app.samplingMethod !== `Other`'
                }
            }) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.sample-size.legend"|trans }}
            </legend>
            {{ helpButton("sample_size") }}
        </div>
        {{ form_label(form.sample_size) }}
        {{ form_errors(form.sample_size) }}
        <div class="MetaData-Widget">
            {{ form_widget(form.sample_size) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                {{ "input.power-analysis.legend"|trans }}
            </legend>
            {{ helpButton("power_analysis") }}
        </div>
        {{ form_label(form.power_analysis) }}
        {{ form_errors(form.power_analysis) }}
        <div class="MetaData-Widget">
            {{ form_widget(form.power_analysis) }}
        </div>
    </fieldset>

    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-measure',
        prevTitle: 'title.measures.title'|trans,
        nextUrl: 'Study-datasets',
        nextTitle: 'title.dataset.title-short'|trans,
        form: form
    })) }}

    {{ form_end(form) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("sampling") }}
{% endblock %}

{% block help_for_metadata %}
    {{ formHelp("sampling", "participants") }}
    {{ formHelp("sampling", "inclusion_criteria") }}
    {{ formHelp("sampling", "exclusion_criteria") }}
    {{ formHelp("sampling", "population") }}
    {{ formHelp("sampling", "sampling_method") }}
    {{ formHelp("sampling", "sample_size") }}
    {{ formHelp("sampling", "power_analysis") }}
{% endblock %}
