{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = true %}

{% block title %}
    Theories for your Study
{% endblock %}

{% block content %}
    <h2 class="px-6 pt-3 pb-4 text-2xl font-semibold">
        Objectives &amp; hypotheses
    </h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <fieldset>
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Objectives
            </legend>
            {{ helpButton("objective") }}
        </div>
        {{ form_label(form.objective) }}
        {{ form_errors(form.objective) }}
        <div class="MetaData-Widget">
            {{ form_widget(form.objective) }}
        </div>
    </fieldset>

    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend">
                Hypotheses
            </legend>
            {{ helpButton("hypothesis") }}
        </div>
        {{ form_label(form.hypothesis) }}
        {{ form_errors(form.hypothesis) }}
        <div class="MetaData-Widget">
            {{ form_widget(form.hypothesis) }}
        </div>
    </fieldset>

    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-documentation',
        prevTitle: 'Basic information',
        nextUrl: 'Study-method',
        nextTitle: 'Study method',
        form: form
    })) }}

    {{ form_end(form) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("theory") }}
{% endblock %}

{% block help_for_metadata %}
    {{ formHelp("theory", "objective") }}
    {{ formHelp("theory", "hypothesis") }}
{% endblock %}
