<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include "Layouts/_favico.html.twig" %}
    {# TODO: create svg logo, so zilla-slab font can be removed #}
    <link rel="preload" href="{{ asset('build/fonts/Zilla_Slab-normal-400.woff') }}" as="font" crossorigin="">
    <link rel="preload" href="{{ asset('build/fonts/Zilla_Slab-normal-600.woff') }}" as="font" crossorigin="">
    <link rel="preload" href="{{ asset('build/fonts/Open_Sans-normal-400.woff') }}" as="font" crossorigin="">
    <link rel="preload" href="{{ asset('build/fonts/Open_Sans-normal-500.woff') }}" as="font" crossorigin="">
    <link rel="preload" href="{{ asset('build/fonts/Open_Sans-normal-600.woff') }}" as="font" crossorigin="">
    <link rel="preload" href="{{ asset('build/fonts/Open_Sans-normal-700.woff') }}" as="font" crossorigin="">
    <title>
        {% if block("title") is defined %}
            {{ block("title") }} - DataWiz
        {% else %}
            DataWiz - Research data management made easy!
        {% endif %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags("app") }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags("app") }}
    {% endblock %}
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js" defer></script>
</head>
<body>
{% block header %}
    <div class="bg-gradient-to-r from-[#240d46] to-zpid-purple-700">
        <header class="flex w-full max-w-screen-xl mx-auto border-b bg-mono-50 h-14 border-mono-300">
            <a class="flex flex-row items-center px-8 font-serif text-3xl text-white bg-zpid-blue" href="/">
                <span class="font-semibold">Data</span>Wiz
            </a>
            <div class="flex w-full pl-6 pr-8">
                {{ include("Components/_navigationHeader.html.twig") }}
                {{ include("Components/_userProfileReference.html.twig") }}
            </div>
        </header>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{{ include("Components/_footer.html.twig") }}
</body>
</html>
