<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include "Layouts/_favico.html.twig" %}
    <link rel="preload" href="{{ asset('build/fonts/Open_Sans-normal-400.woff') }}" as="font" crossorigin="">
    <link rel="preload" href="{{ asset('build/fonts/Open_Sans-normal-500.woff') }}" as="font" crossorigin="">
    <link rel="preload" href="{{ asset('build/fonts/Open_Sans-normal-600.woff') }}" as="font" crossorigin="">
    <link rel="preload" href="{{ asset('build/fonts/Open_Sans-normal-700.woff') }}" as="font" crossorigin="">
    <title>
        {% if block("title") is defined %}
            {{ block("title") }} - DataWiz
        {% else %}
            DataWiz - Research data management made easy!
        {% endif %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags("app") }}
        {{ encore_entry_link_tags("codebook") }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags("codebook") }}
    {% endblock %}
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js" defer></script>
</head>
<body>
<div class="grid grid-cols-12 bg-white SiteContainer"
     x-data="{...codebook(), url: '{{ path('codebook_dataupdate', {uuid: codebook.id}) }}', id: '{{ codebook.id }}', measuresURL: '{{ path('codebook_measures', {uuid: codebook.id}) }}', matrixURL: '{{ path('codebook_matrix', {uuid: codebook.id}) }}' }"
     x-init="if ($store.codebook.activeTab === 'matrix') loadMatrix()">
    {% block header %}
        <header class="sticky top-0 z-10 flex items-center border-b h-14 border-mono-300 col-span-full bg-mono-50">


            <div class="flex items-center h-full">
                <a href="{{ path('Study-datasets', {uuid: codebook.experiment.id}) }}"
                   class="inline-flex items-center flex-shrink-0 ml-2 Button Button_primary Button_primary_go Button_standalone"
                   @click="save()">
                    {# Icon: ic:sharp-arrow-back-ios-new #}
                    <svg fill="none" viewbox="0 0 24 24" stroke="currentColor" class="arrow-left w-4 h-4 mr-1.5">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                    </svg>
                    {{ "codebook.nav.goback"|trans }}
                </a>
                <button class="flex-shrink-0 h-full px-2 ml-6 border-t-4 border-b-4 border-transparent focus:ring-inset hover:border-b-zpid-blue"
                        :class="$store.codebook.activeTab === 'matrix' ? 'border-b-zpid-blue' : ''"
                        @click="$store.codebook.activeTab = 'matrix'; loadMatrix()">
                    {{ "codebook.nav.matrix"|trans }}
                </button>
                <button class="flex-shrink-0 h-full px-2 ml-4 border-t-4 border-b-4 border-transparent focus:ring-inset hover:border-b-zpid-blue"
                        @click="$store.codebook.activeTab = 'codebook'"
                        :class="$store.codebook.activeTab === 'codebook' ? 'border-b-zpid-blue' : ''">
                    {{ "codebook.nav.codebook"|trans }}
                </button>
            </div>
            <span class="ml-10 text-lg font-semibold text-zpid-purple">{{ codebook.originalName }}</span>

            <div class="flex items-center justify-center ml-auto mr-2 gap-x-2"
                 x-show="$store.codebook.activeTab === 'codebook'" x-cloak>
                <div class="relative" @keyup.escape="$store.codebook.filterText = ''">
                    <input x-data="{tooltip: '{{ 'codebook.search.tooltip'|trans }}'}" type="text" name=""
                           id="filter"
                           placeholder="{{ 'codebook.search.placeholder'|trans }}"
                           x-model.debounce="$store.codebook.filterText"
                           class="!pl-8 !pr-7 !py-[0.1875rem] border rounded-full border-mono-500 SearchInput"
                           x-tooltip.on.focus.theme.light-border="tooltip"
                           @keyup="tooltip = null" @blur="tooltip = '{{ 'codebook.search.tooltip'|trans }}'">

                    <button aria-label="{{ "generic.clear-search"|trans }}"
                            class="absolute top-0 bottom-0 right-0 flex items-center w-6 p-0 my-1 mr-2 bg-transparent border-none rounded-none shadow-none hover:bg-transparent"
                            @click="$store.codebook.filterText = ''" x-show="$store.codebook.filterText !== ''" x-cloak>
                        {# Icon: mdi:close #}
                        <svg class="inline-flex w-5 h-5 mx-auto text-gray-800 fill-current"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             aria-hidden="true" role="img" style="vertical-align: -0.125em;" width="1em" height="1em"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <title>{{ "generic.clear-search"|trans }}</title>
                            <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z"
                                  fill="currentColor"/>
                        </svg>
                    </button>
                </div>
                <button class="flex-shrink-0 Button Button_secondary Button_secondary_act Button_standalone"
                        type="button"
                        @click="$store.codebookSettings.showHelp.sideBar = !$store.codebookSettings.showHelp.sideBar">
                    <span class="inline-block w-4 h-4 text-xs border rounded-full border-mono-500">?</span>
                    {{ "generic.help"|trans }}
                </button>
                <button class="flex items-center flex-shrink-0 Button Button_primary Button_primary_act Button_standalone"
                        @click="save()" type="button">
                    {# Icon: ri:save-3-fill #}
                    <svg class="w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                         style="vertical-align: -0.125em;" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                         viewBox="0 0 24 24">
                        <path d="M4 3h14l2.707 2.707a1 1 0 0 1 .293.707V20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm3 1v5h9V4H7zm-1 8v7h12v-7H6zm7-7h2v3h-2V5z"
                              fill="currentColor"/>
                    </svg>
                    {{ "generic.save"|trans }}
                </button>
            </div>
        </header>
    {% endblock %}
    {% block body %}{% endblock %}
    {# {{ include("Components/_footer.html.twig") }} #}
</div>
</body>
</html>
