{{ form_label(collection) }}
{{ form_errors(collection) }}
<div class="MetaData-Widget MetaData-Widget_collection"
        {{ stimulus_controller('collection-widget', {
            counter: collection|length + 1,
            widgetPrototype: _self.widget(collection.vars.prototype, removeTxt),
        }) }}>

    <ul id="{{ id }}" {{ stimulus_target('collection-widget', 'list') }}>
        {% for item in collection %}
            {{ _self.widget(item, removeTxt) }}
        {% endfor %}
    </ul>

    <button type="button"
            {{ stimulus_action('collection-widget', 'addItemToCollection') }}
            class="mt-2 add-another-collection-widget Button Button_secondary Button_secondary_act Button_fieldSize MetaData-AddButton">
        {{ addTxt|trans }}
    </button>
</div>

{% macro widget(item, removeTxt) %}
    <li class='items-baseline pb-4 mt-2 border rounded border-mono-400 first:mt-0'>
        {{ _self.removeButton(removeTxt) }}
        {% do item.creditRoles.setRendered() %}
        {{ form_widget(item) }}
        <div class="Creator-Detail Creator-Detail_roles">
            {% include "components/_collectionWidget.html.twig" with
                {
                    collection: item.creditRoles,
                    id: item.vars.id~'_creditRoles',
                    listClass: 'xl:grid xl:grid-cols-2 xl:gap-x-3',
                    condensed: true,
                    partOfCollection: true,
                    addTxt: 'input.creator.credit.add',
                    removeTxt: 'input.creator.credit.remove',
                } %}
        </div>
    </li>
{% endmacro %}

{% macro removeButton(removeTxt) %}
    <button type="button"
            {{ stimulus_action('collection-widget', 'removeItemFromCollection') }}
            class="Creator-RemoveButton Button Button_tertiary Button_tertiary_danger Button_fieldSize">
        {{ removeTxt|trans }}
    </button>
{% endmacro %}
