{% if pagination is defined %}
    {% set disabledPrev = pagination.page == 0 ? 0 : 1 %}
    {% set disabledNext = pagination.page >= pagination.maxPages-1 ? 0 : 1 %}
    <div class="flex flex-col items-center pagination">
        <span class="text-sm text-gray-700 dark:text-gray-400">
            Showing
            <span class="font-semibold text-gray-900 dark:text-white">
                {{ (pagination.limit * pagination.page) + 1 }}
            </span>
            to
            <span class="font-semibold text-gray-900 dark:text-white">{{ pagination.limit * (pagination.page+1) }}</span>
            of
            <span class="font-semibold text-gray-900 dark:text-white">{{ pagination.maxItems }}</span>
            Entries
        </span>
        <div class="inline-flex mt-2 xs:mt-0">
            <a class="inline-flex items-center py-2 px-4 text-sm font-medium text-white rounded-l dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
                {{- disabledPrev == 0 ? ' bg-gray-400 cursor-default' : ' bg-gray-800 hover:bg-gray-900' -}}"
               href="{{ path('admin_dashboard_user', {q:pagination.q, page: pagination.page-disabledPrev, limit: pagination.limit, sort:pagination.sort }) }}" {{ disabledPrev }}>
                {{ include('components/icons/arrow-left.svg') }}
                Prev
            </a>
            <a class="inline-flex items-center py-2 px-4 text-sm font-medium text-white rounded-r border-0 border-l border-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
                {{- disabledNext == 0 ? ' bg-gray-400 cursor-default' : ' bg-gray-800 hover:bg-gray-900' -}}"
               href="{{ path('admin_dashboard_user', {q:pagination.q, page: pagination.page+disabledNext, limit: pagination.limit, sort:pagination.sort }) }}">
                Next
                {{ include('components/icons/arrow-right.svg') }}
            </a>
        </div>
    </div>
{% endif %}