{% extends "layouts/threeColumn.html.twig" %}
{% from "components/_macros.html.twig" import bytesToSize %}
{% from "components/_macros.html.twig" import editDescription %}
{% from "components/_macros.html.twig" import helpButton %}
{% from "components/_macros.html.twig" import sectionHelp %}
{% from "components/_macros.html.twig" import formHelp %}
{% from "components/_macros.html.twig" import dropzoneTemplate %}

{% set isPartOfStudyDocumentation = true %}

{% block title %}
    {{ "title.dataset.title"|trans }}
{% endblock %}

{% block content %}
    <h2 class="MetaDataGroup-Title">
        {{ "title.dataset.title"|trans }}
    </h2>
    {{ include("components/_infoBridge.html.twig",{value: experiment.id}) }}
    <div class="mt-6">
        <form action="{{ oneup_uploader_endpoint("datasets") }}" data-experiment-id="{{ experiment.id }}"
              class="mx-6 border-2 !border-dashed border-mono-500 dropzone" id="datawiz-dropzone"
              data-preview-csv="{{ path("File-preview-csv",{"fileId": " "}) }}"
              data-submit-csv="{{ path("File-submit-csv",{"fileId": " "}) }}"
              data-preview-sav="{{ path("File-preview-sav",{"fileId": " "}) }}"
              data-submit-sav="{{ path("File-submit-sav",{"fileId": " "}) }}"
        >
            {{ dropzoneTemplate() }}
            <input type="hidden" id="dataset-import-data" name="dataset-import-data" value=""/>
        </form>
    </div>
    <div class="mt-6 MetaData-Title">
        <legend class="MetaData-Legend">
            {{ "title.dataset.h3"|trans }}
        </legend>
        {{ helpButton("my_datasets") }}
    </div>
    {% if experiment.originalDatasets|length > 0 %}
        <ul class="mx-6">
            {% for dataset in experiment.originalDatasets %}
                <li class="pt-3 pb-4 mt-2 first:mt-0 bg-mono-100">
                    <div class="bg-mono-100" x-data="modal()" @keydown.window.escape="hide()">
                        <h4 class="flex justify-between mx-4">
                        <span class="text-lg font-semibold text-zpid-purple-700">
                            {{ dataset.originalName }}
                        </span>
                            <button class="flex items-center self-start ml-2 Button Button_tertiary Button_tertiary_danger Button_standalone"
                                    @click="show()">
                                {{ include('components/icons/delete.svg') }}
                                {{ "generic.delete"|trans }}
                            </button>
                        </h4>

                        <!-- Modal confirming delete action -->
                        {{ include('components/_deleteModal.html.twig', {
                            'title': "title.dataset.deleteModal.title",
                            'description': 'title.dataset.deleteModal.body',
                            'confirm': 'title.dataset.deleteModal.confirm',
                            'name': dataset.originalName,
                            'url': path('File-delete_dataset', { "uuid": dataset.id })
                        }) }}

                        <div class="mx-4 mt-1">
                            <span class="font-semibold">{{ "title.dataset.details.date"|trans }}</span><span
                                    class="ml-1">{{ dataset.dateUploaded|date }}</span>
                            <span class="font-semibold">{{ "title.dataset.details.size"|trans }}</span><span
                                    class="ml-1">{{ bytesToSize(dataset.originalSize) }}</span>
                        </div>

                        {{ editDescription(dataset, loop.index, path('File-update_description', { 'uuid': dataset.id })) }}

                        <div class="flex mx-4 mt-4">
                            <a href="{{ path('codebook_index', {uuid: dataset.id}) }}"
                               class="flex items-center Button Button_secondary Button_secondary_go Button_standalone">
                                {{ include('components/icons/table-edit.svg') }}
                                {{ "link.edit.codebook"|trans }}
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="mx-6">
            {{ "title.dataset.empty"|trans }}
        </p>
    {% endif %}

    <!-- Modal for importing a dataset -->
    {{ include('pages/study/_datasetImportModal.html.twig') }}

    {{ render(controller('App\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-sample',
        prevTitle: 'title.samples.title'|trans,
        nextUrl: 'Study-materials',
        nextTitle: 'title.material.title-short'|trans,
        form: null
    })) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("datasets") }}
{% endblock %}

{% block help_for_metadata %}
    {{ formHelp("datasets", "my_datasets", "title.dataset.h3") }}
{% endblock %}
