{% extends "layouts/threeColumn.html.twig" %}
{% from "components/_macros.html.twig" import helpButton %}
{% from "components/_macros.html.twig" import sectionHelp %}
{% from "components/_macros.html.twig" import formHelp %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = true %}

{% block title %}
    {{ "title.measures.title"|trans }}
{% endblock %}

{% block content %}
    <h2 class="MetaDataGroup-Title">
        {{ "title.measures.title"|trans }}
    </h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <fieldset>
        <div class="MetaData-Title">
            <legend class="MetaData-Legend" id="{{ 'input.measures.legend'|trans|slug }}">
                {{ "input.measures.legend"|trans }}
            </legend>
            {{ helpButton("measure") }}
        </div>
        {% include "components/_collectionWidget.html.twig" with
            {
                collection: form.measures,
                id: 'measures-fields-list',
                addTxt: 'input.measures.add',
                removeTxt: 'generic.remove',
            } %}
    </fieldset>
    <fieldset class="mt-8">
        <div class="MetaData-Title">
            <legend class="MetaData-Legend" id="{{ 'input.apparatus.legend'|trans|slug }}">
                {{ "input.apparatus.legend"|trans }}
            </legend>
            {{ helpButton("apparatus") }}
        </div>
        {% include "components/_collectionWidget.html.twig" with
            {
                collection: form.apparatus,
                id: 'apparatus-fields-list',
                addTxt: 'input.apparatus.add',
                removeTxt: 'generic.remove',
            } %}
    </fieldset>
    {{ render(controller('App\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevTitle: 'title.method.title',
        nextTitle: 'title.samples.title',
        form: form
    })) }}
    {{ form_end(form) }}
{% endblock %}

{% block help_for_section %}
    {{ sectionHelp("data_collection") }}
{% endblock %}

{% block help_for_metadata %}
    {{ formHelp("data_collection", "measure", "input.measures.legend") }}
    {{ formHelp("data_collection", "apparatus", "input.apparatus.legend") }}
{% endblock %}
